.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.main .board {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    box-sizing: border-box;
    background-color: white;
}

.main .board .square {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 0.1px solid #000;
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.main .board .square .cell {
    width: calc(100% / 3);
    height: calc(100% / 3);
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .controls {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main .controls .numbers {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 40%;
}

.main .controls .numbers .number {
    width: calc(100% / 3);
    height: calc(100% / 3);
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .controls .keyboard {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 40%;
}

.main .controls .keyboard .key {
    width: calc(100% / 2);
    height: calc(100% / 2);
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked {
    background-color: #000 !important;
    color: white;
}

.selected {
    background-color: red !important;
    color: white;
}
